* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calendar {
  display: grid;
  grid-template: 1fr repeat(3, 30px) / 4fr repeat(30, 30px);
  grid-gap: 2px 2px;
}

.legend {
  font-weight: bold;
}

.day {
  color: hsl(30deg 94.09% 37.07%);
}

.day__user {
  background-color: hsl(0 100% 0%);
  color: hsl(0 100% 0%);
}

.name {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  text-align: left;
}

.user__days {
  display: inline;
}
